.textSelection {
    background-color: #642580;
    padding: 50px 80px;
}

.kitchen-equipment {
    background-image: url("utensils.JPG");
}

.cake-ingredients {
    background-image: url("ingredients.jpg");
}